@page "/channels/@me"
@rendermode InteractiveServer

@inject IServerService ServerService
@inject IStringLocalizer<CommunicationsAppLoc> Localizer

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    <FluentStack Orientation="Orientation.Vertical" Style="margin-left: 1em;">
        <h1>Hello, world!</h1>

        Welcome to your new app.
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <FluentButton Appearance="Appearance.Accent" OnClick="AddServerPermissions">
                    @Localizer["AddServerPermissions"]
                </FluentButton>
            </Authorized>
        </AuthorizeView>
    </FluentStack>
</FluentStack>


@code {
    public async Task AddServerPermissions()
    {
        var result = await ServerService.AddServerPermissionsAsync();
    }
}