@page "/"

@inject IUserService UserService
@inject IdentityUserAccessor UserAccessor

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<CreateServer User=User />

@code {
    public ApplicationUser? User { get; set; }
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        User = await UserAccessor.GetRequiredUserAsync(HttpContext);
        if (User != null)
        {
            User = await UserService.GetUserByIdAsync(User.Id);
            Console.WriteLine(User.Servers.Count);
            if (User.Servers.Any())
            {
                foreach (var server in User.Servers)
                {
                    Console.WriteLine(server.ToString());
                }
                Console.WriteLine(User.Servers[0].ChannelClasses[0].ToString());
                Console.WriteLine(User.Servers[0].ChannelClasses[0].Channels[0].ToString());
            }
            if (User.ServerProfiles.Any())
            {
                foreach (var sp in User.ServerProfiles)
                {
                    Console.WriteLine(sp.ToString());
                }
            }
        }
    }
}