@inherits LayoutComponentBase
@layout CommunicationsApp.Components.Layout.MainLayout

@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject AuthenticationStateProvider ASP
@inject IdentityUserAccessor UserAccessor

<div>
    <div class="row">
        <div class="col-lg-3" style="border-right: solid; border-width: 0.1em; height: 100vh;">
            <ChannelList ServerId="@ServerId" />
        </div>
        <div class="col-lg-9" style="padding-left: 0em; padding-right: 0em;">
            @Body
        </div>
    </div>
</div>

@code {
    private string? currentUrl;
    public ApplicationUser? User { get; set; }
    public string? ServerId { get; set; }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        var serverAndChannelId = currentUrl.Substring(currentUrl.IndexOf('/') + 1 );
        ServerId = serverAndChannelId.Split('/')[0];

        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await ASP.GetAuthenticationStateAsync();
        User = await UserAccessor.GetRequiredUserFromPrincipalAsync(authState.User);

        if (User != null)
        {
            User = await UserService.GetUserByIdAsync(User.Id);
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
