@inherits LayoutComponentBase
@layout CommunicationsApp.Components.Layout.MainLayout


<FluentStack Orientation="Orientation.Vertical" Style="margin-left: 1em;">
    <h1>Manage your account</h1>
    <h2>Change your account settings</h2>
    <FluentStack>
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </FluentStack>
</FluentStack>
