@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentLabel Alignment="HorizontalAlignment.Center" Typo="Typography.H1">Forgot password confirmation</FluentLabel>
    <p role="alert">
        Please check your email to reset your password.
    </p>
</FluentStack>
