@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
    <FluentLabel Alignment="HorizontalAlignment.Center" Typo="Typography.H1">
        Invalid password reset
    </FluentLabel>
    <p role="alert">
        The password reset link is invalid.
    </p>
</FluentStack>
