@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
    <header>
        <FluentLabel Alignment="HorizontalAlignment.Center" Typo="Typography.H1" Class="text-danger">
            Locked out
        </FluentLabel>
        <p class="text-danger" role="alert">This account has been locked out, please try again later.</p>
    </header>
</FluentStack>
